<!DOCTYPE html>
<html>
	<head lang="en">
		<%- partial('_partial/head.ejs') %>
	</head>
	<body>
		<div class="header">
			<%- partial('_partial/header.ejs') %>
		</div>
		<div class="section">
			<%- body %>
		</div>
		<div class="footer">
			<%- partial('_partial/footer.ejs') %>
		</div>
		<%- partial('_partial/js.ejs') %>
	</body>
</html>